
.logotipo{
	text-align: center;
	margin-bottom: 50px;
	display: block;

}

#categoria{
	background: #C3C4CB;
	border-radius: .19em;
	color: #ffff;
	height: 100%;
}
#categoria ul li a{
	color: #000;
	cursor: pointer;
}
#categoria h3{
	background: gray;
	color: #fff;
}

.navbar{
	margin-bottom: 0px;
    
}

#carrusel{
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
}
#imagenHeader{
	width: 100px;
	height: 100px;
}
#barraNavegacion{
	margin-bottom: 10px;
}
.imagenSlide{
	width: 100%;
    height: auto;
}
.jumbotron{
    background: #000;
}
.tituloRedes{
    margin-bottom: 15px;
}
#promociones,#nuevosLibros{
	cursor: pointer;
}
.imagenRedes{
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}

#panelActividades, .panel{
	margin-right: 0px;
}
.list-group-item,a{
	cursor: pointer;
}
.categoriasProductos{
	margin-top: 30px;
}

.w3-card-4{
width: 70%;
}

.w3-container{
	margin-bottom: 20px;
	cursor: pointer;
}
.w3-container .w3-card-4 .imgCat{
	margin-bottom: 10px;
}
#sideBar{
	background: green;
}

#headerModalAdmin{
	background: #00b005;
	color: #fff;

}
#headerModalErrorAdmin{
	color: #fff;
	background: #df2900;
}
.modal-dialog .modal-content .modal-header .close{
	color: #fff; 
} 
#headerAddnewUser{
	color: #fff;
}
.imagenCarrito{
	width: 50px;
	height: 50px;
}
.imagenAcerca{
	width: 100%;
	height: 300px;
}
.imagenDescripcion{
	margin-bottom: 15px;
}
.imagenDescripcion ,#imagenDescripcion{
	width: 100%;
	height: 280px;
}
#tablaCarrito{
	margin-top: 20px;
}


#mision, #vision{
	margin-top: 100px;
}



@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 979px) {
#logoFormulario{
	height: 100%;
	width: 100%;
}
}

@media only screen and (max-width : 767px) {
#logoFormulario{
	height: 60%;
	width: 60%;

}
body {
  margin: 0;
  margin-bottom: 0px;
  height: 80%;
}

}

@media only screen and (max-width : 480px) {
.page-header{
	display: none;
}

#logoFormulario{
	height: 40%;
	width: 40%;
}
	.imgCat{
	    width:100px;
	    height:180px;
	}

	#carrusel{
		display: none;
	}

	.imagenSlide{
	width: 100%;
    height: 200px;
	}
	w3-container{
		margin-left: 20%;
		margin-right: 20%;
	}

	.imagenDescripcion, #imagenDescripcion{
	width: 100%;
	height: 180px;
	margin-bottom: 5px;
	}

}

@media only screen and (max-width : 320px) {

}