@font-face{
    font-family: LatoBlack;
    src:url("../fonts/LatoBlack.ttf");
    font-size: 14pt;
    font-weigth: bold;
    color: #333;
}
.container {
    
}

header{
    width:100%;
    height:170px;
    background:gray;
    color:white;
    font-size:20pt;
    text-align: center;
    }

#login{
    font-size: 17px;
} 
.bannerLibreria{
    width: 45%;
    height: 100px;
}
#mainNav a{
    font: "Tahoma" 14px bold;
    color:darkviolet;
    text-decoration: none;
    text-align: center;
    }
#mainNav{
    background: #6699cc;
    width: 991px;
    height: 45px;
    border-radius: 10px;
    box-shadow: .2em .2em .5em;
    text-align: center;
    }
#buscar{
    width: 100%;
    height: 100px;
    text-align: right;
    border: 1px solid red;
    }
#pag{
    text-align: center;
    border: 1px solid yellow;
    width: 100%;
    height: 35px; 
    padding-top: 15px;
    }
#categorias{
    width: 98%;
    margin: auto;
    border: 1px solid purple;
    }
#numeroPaginas{
    margin-bottom: 20px;
}
#tablaCategorias{
    text-align: center;
    margin: auto;
    border:1px solid blue;
    }
td{
    margin: 20 px 0;
}
.renglonCat{
    
}
.colIzq{
    padding-right:  20px;    
}
.colMed{
    
}
.colDer{
    padding-left: 20px;  
}
.linkCat{    
}
.imgCat{
    width:297px;
    height:272px;
}
.nomCat{
    text-align: center;
    color:blue;
    font-family: LatoBlack;
    margin:35px 0;
    padding:10px 0;
}

/**Estilos retícula de productos**/

.imgProduct{
    width: 297px;
    height: 240px;
}
.nomProduct{
    display: inline-block;
    width: 257px;
    height: 30px;
    overflow: none;
    text-align: left
}
.verMas{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #666;
    font-size: 20px;
    font-weight: bolder;
    color: #ddd;
    font-family: LatoBlack;
    border-radius: 6px;
}
.block{
    display: block;
}
#precioProduct{
    display: inline-block;
    width: 250px;
    font-size: 20px;
    color:darkcyan;
    height: 30px;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 10px;
}
.carrito{
    display: inline-block;
    width: 270px;
    height: 50px;
    background: orange;
    border-radius: 6px;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

/************************/
/*****Divs flotantes******/

#oscuro{
    width: 100%;
    height: 100%;
    background: black;
    opacity: .7;
    z-index: 9996;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    display: none;
}
#btoCerrar{
    font-size: 30px;
    font-weight: holder;
    color: white;
    background: red;
    width: 20px;
    height: 20px;
    text-shadow: .2em .2em .5em black;
    position: relative;
    z-index: 9999;
    display: none;
    
}
#imgProductoGrande{
    position: absolute;
    z-index: 9997;
    margin: auto;
    width: 90%;
    height: auto;
    text-align: center;
    padding: 10%;
    display: none;
}

/****detalle del producto*****/

#detalleProducto{
    display: none;
    position: absolute;
    z-index: 9998;
    margin: auto;
    width: 600px;
    height: 750px;
    min-height: 750px;
    background: #ddd;
    border-radius: 10px;
    border: 2px solid #888;
    margin-top: 5%; 
    margin-left: 24%;
    padding: 30px;
}
#generalProduct{
    display: inline-block;
}
#nomProduct{
    font-size: 40px;
    font-weight: bold;
    width: 100%;
    margin-bottom: 20px;
}
#botonera{
    position: relative;
    top: -140px;
    width: auto;
    min-height: 196px;
    display: inline-block;
    border: 1px solid red;
}
#botonera div{
    /*display: none;*/
    font-weight: bold;
    text-align: right;
    width: 100%;
    margin-bottom: 10px;
}
.precio{
    display: none;
}
#precioNormal{
    display: block;
    font-size: 30px;
    color: #6699cc;
}
#detalles{
    top: -80px;
    position: relative;
}
#detalles div{
    display: inline-block;
    border: 1px solid gray;
    padding: 15px;
    border-radius: 8px;
    background: #eee;
}
#detalles div div{
    display: none;
    min-height: 200px;
    box-shadow: 0 -.2em .6em black;
}
#detalles div #materialesContent{
    display: block;
    position: absolute;
    background: white;
    left: 0;
}

#linkRegistrar{
 text-decoration: none;
 cursor: pointer;

}
#linkLogin{
    text-decoration: none;
    cursor: pointer;
}

.modal-header,h4,.close{
    background-color: #C3C4CB;
    color: white !important;
    text-align: center;
    font-size: 30px;
}
/************************/
/**Navgacion responsiva**/

.topnav{
    background-color: #333;
    overflow: hidden;
}
.topnav a{
    float: left;
    display: block;
    color:#f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover{
    background: #ddd;
    color: black;
}
.topnav .icon{
    display: none;
}

/*******************************/
/*Navegacion responsiva max-width:600px****/

@media screen and (max-width: 600px){
    .topnav a:not(:first-child){
        display: none;
    }
    .topnav a.icon{
        float:right;
        display: block;
    }
    .topnav.responsive a.icon{
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a{
        float: none;
        display: block;
        text-align: left;
    }
    header{
        display: none;
    }
}

/*******************Viewport tablet horizontal*********************/
@media screen(min-width: 768px) and (max-width: 990px){
    
#todo{
    width: 100%;
    }

header{
    height:100px;
    background:#ddd;
    color:#333;
    font-size:20pt;
    }
/*#mainNav a{
    font: "Tahoma" 14px bold;
    color:darkviolet;
    text-decoration: none;
    text-align: center;
        }*/

/*#mainNav{
    background: #6699cc;
    width: 991px;
    height: 45px;
    border-radius: 10px;
    box-shadow: .2em .2em .5em;
    text-align: center;
        }*/

#buscar{
    height: 30px;
}

/*#pag{
    height: 35px; 
    padding-top: 15px;
}*/

/*#categorias{
    width: 100%;
}*/

#tablaCategorias{
    margin: auto 10px;
}
.renglonCat{
    
}
.colIzq{
    padding-right:  10px;    
}
.colMed{
    
}
.colDer{
    padding-left: 10px;  
}

.imgCat{
    /*width:297px;
    height:272px;*/
}
.nomCat{
    padding:15px 0;
}
    
}

@media(min-width:360px) and (max-width: 640px){
    
}

